<%= form_for(@developer_profile) do |f| %>
  <% if @developer_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@developer_profile.errors.count, "error") %> prohibited this developer_profile from being saved:</h2>

      <ul>
      <% @developer_profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employment %><br>
	<%= f.select :employment, DeveloperProfile::EMPLOYMENT, { include_blank: "select something" }, { class: 'form-control' } %>
  </div>
  <div class="field">
    <%= f.label :experience %><br>
    <%= f.select :experience, DeveloperProfile::EXPERIENCE, { include_blank: "select something" }, { class: 'form-control' } %>
  </div>
  <div class="field">
    <%= f.label :yearly_projects %><br>
    <%= f.select :yearly_projects, DeveloperProfile::PROJECTS_PER_YEAR, { include_blank: "select something" }, { class: 'form-control' } %>
  </div>
  <div class="field">
    <%= f.label :typical_project_size %><br>
    <%= f.select :typical_project_size, DeveloperProfile::TYPICAL_PROJECT_SIZE, { include_blank: "select something" }, { class: 'form-control' } %>
  </div>
  <div class="field">
    <%= f.label :how_did_you_hear %><br>
    <%= f.select :how_did_you_hear, DeveloperProfile::WHERE_DID_YOU_HEAR, { include_blank: "select something" }, { class: 'form-control' } %>
  </div>
  <div class="field">
    <%= f.label :how_response %><br>
    <%= f.text_field :how_response %>
  </div>
  <div class="field">
    <%= f.label :why %><br>
    <%= f.text_area :why %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
