- set_header_tab("investments")

.errors.no-padding
  = display_flash_messages(flash)
  
%section.container-wrapper.odd.public-investments.first
  .container
    .row
      .col-lg-12.legal-highlight
        %p.text-center
          Information on this page is not an offer or a solicitation to sell or purchase securities. Clicking "Follow" expresses a desire to learn more about a particular real estate project, developed by a third party independent to us. Statements on this page are for informational purposes only. 
          
          
    .row.padded
      .span12
        %legend="Sample Investment Opportunities"
          
    - if @published_offers.length < 1
      .row
        .col-lg-12.text-center
          We're sorry, there are no projects currently funding at this time. Please click to follow projects below to be notified when funding for them begins.
    - else
      .row
        .col-lg-12
          .div.sort
            SORT:
            - if params[:sort] == "new"
              %span.active
                NEWEST 
            - else 
              %span 
                = link_to("NEWEST", investments_path(:sort => "new")) 
            | 
            - if params[:sort] == "price"
              %span.active
                AMOUNT TO RAISE
            - else
              %span 
                = link_to "AMOUNT TO RAISE", investments_path(:sort => "price")
          %table.new_deals
            - @published_offers.each do |deal|
              %tr.new-deal{id: "d#{deal.id}"}
                %td.placeholder-cover-asset{width: "100px"}
                  No Photo
                  %br
                  Available
                %td
                  .summary
                    %table
                      %tr
                        %td{width: "50px"}
                          .icon
                            %i.fa.fa-building.fa-2x
                        %td
                          %span.title
                            #{deal.name}, #{deal.address.city}, #{deal.address.state}
                          .location
                            #{deal.short_description}
                - if current_user and Follower.exists?(deal.id, current_user.id)
                  %td.follow{width: "160px"}
                    = link_to("UNFOLLOW", deal_unfollow_path(deal), :method => :post)
                - else
                  %td.follow{width: "160px"}
                    = link_to("FOLLOW", deal_follow_path(deal), :method => :post)

                %td.footer{width: "100px"}
                  %label.amount.blue.coming-soon="#{number_to_currency(deal.amount_to_raise, precision: 0)}"
                  %em
                    Amount To Raise
